
<!-- 
    <!DOCTYPE html>
<html>
    <head>
        <title>Buscador de compatibilidad</title>
        <link rel="stylesheet" href="/css/buscador_perros.css">
    </head>
    <body>
        <!--data object sera un objeto de query -->
        <div class="search_sidebar">
            <form method="GET" action="/api/perros">
                <label>Tamaño</label>
                <input type="text" id="fsize" name="fsize"><br>
            
                <input type="submit" value="Olfatear">
            </form>
        </div>

        <div class="dogs_grid_container container">
            <!--Ejemplo del contenedor-->
            <div class="row">
                <div class="col-sm">
                    <div class="dog_container">
                        <img src="/img/dog_sample.jpg">
                        <h1>Firulais</h1>
                    </div>
                </div>
                               <div class="col-sm">
                    <div class="dog_container">
                        <img src="/img/dog_sample.jpg">
                        <h1>Firulais</h1>
                    </div>
                </div>
                               <div class="col-sm">
                    <div class="dog_container">
                        <img src="/img/dog_sample.jpg">
                        <h1>Firulais</h1>
                    </div>
                </div>
            </div>
                        <div class="row">
                <div class="col-sm">
                    <div class="dog_container">
                        <img src="/img/dog_sample.jpg">
                        <h1>Firulais</h1>
                    </div>
                </div>
                               <div class="col-sm">
                    <div class="dog_container">
                        <img src="/img/dog_sample.jpg">
                        <h1>Firulais</h1>
                    </div>
                </div>
                               <div class="col-sm">
                    <div class="dog_container">
                        <img src="/img/dog_sample.jpg">
                        <h1>Firulais</h1>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
