<link rel="stylesheet" href="/css/main.css">

<div class="carrousel">

</div>

<div class="login_zone">
    <div class="login" id="login_refugio">
        <h1>Refugio</h1>
        <form method="POST" action="/login_refugio">
            <label>Usuario</label>
            <input type="text" id="refugio_usr" name="refugio_usr">
            <br>
            <label>Contraseña</label>
            <input type="password" id="refugio_contra" name="refugio_contra">
            <br>
            <input class="btn_login" type="submit" value="Ingresar" >
        </form>
    </div>
    <div class="login" id="login_usuario">
        <h1>Usuario</h1>
        <form method="POST" action="/login_usuario">
            <label>Usuario</label>
            <input type="text" id="usuario_usr" name="usuario_usr">
            <br>
            <label>Contraseña</label>
            <input type="password" id="usuario_contra" name="usuario_contra">
            <br>
            <input class="btn_login"type="submit" value="Ingresar" >
        </form>
    </div>
</div>