<div class="contenedor_signin">
    <form action="/signin_usuario" method="POST">
        <label>Nombre de usuario</label>
        <input type="text" id="username" name="username">
        <br>
        <label>Contraseña</label>
        <input type="password" id="pass" name="pass">
        <br>
        <label>Nombres</label>
        <input type="text" id="nombres" name="nombres">
        <br>
        <label>Apellido Paterno</label>
        <input type="text" id="apellido_pat" name="apellido_pat">
        <br>
        <label>Apellido Materno</label>
        <input type="text" id="apellido_mat" name="apellido_mat">
        <br>
        <label>Correo</label>
        <input type="text" id="mail" name="mail">
        <br>
        <label>Teléfono</label>
        <input type="text" id="telefono" name="telefono">
        <br>
        <label>Ciudad</label>
        <input type="text" id="ciudad" name="ciudad">
        <br>
        <label>Pais</label>
        <input type="text" id="pais" name="pais">
        <br>
        <input type="submit" id="submit" name="submit">
    </form>
</div>