.carousel img {
    height: 640px;
    background-color: #EEF1BD;
}

.login_zone {
    display: grid;
    grid-template-columns: 1fr;
}

.login {
    padding: 10%;
    text-align: center;
    margin: 2%;
    padding-top: 5%;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding-bottom: 50px;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.login input {
    margin: 8px;
    margin-right: 15px;
    background-color: whitesmoke;
    border: 1px solid rgba(0, 0, 0, 0.2);

}

label {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

#refugio_contra {
    margin-right: 40px;
}

.btn_login {
    margin-top: 5%;
    background-color: #BBD686;
    border: 0px solid black;
    padding: 1%;
    padding-left: 4%;
    padding-right: 4%;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
}

.login-container {
    color: white;
    background-color: #6b9ac4;
    padding-top: 20%;
    padding-bottom: 15%;
    margin-left: -20%;
    margin-right: -20%;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.container-foto-derecha {
    margin-left: 25%;
}

a {
    text-decoration: none;
}

.title-white{
    background-color: whitesmoke;
    color: #6b9ac4;
    position: relative;
    padding-top: 15%;
    margin-top: -15%;
    padding-bottom: 1vh;
}

h2 {
    background-color: #BBD686;
    color: #393e41;
    padding: 10px;
    margin-left: 39%;
    margin-right: 39%;
    margin-top: 3vh;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

h2:hover {
    color: #BBD686;
    background-color: #393e41;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
}



#login_refugio {
    background-color: antiquewhite
}

#login_usuario {
    background-color: antiquewhite;
}

.footer {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(6px);
    color: white;
    position: sticky;
    bottom: 0px;
    font-size: 1.1em;
}