.cont_perfil_perro {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.cont_status {
    background-color: #6b9ac4;
}

.cont_foto {
    padding: 5%;
}

.cont_status_adopcion {
    background-color: aliceblue;
}

.cont_status_adopcion h2 { 
    text-align: center;
}

#foto {
    width: 100%;
    max-height: 40vh;
}

textarea {
    margin-left: 15px;
}

.cont_adoptar {
    background-color: white;
    color:#6b9ac4;
    font-weight: bold;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

/*second col */
.cont_datos {
    background-color: aliceblue;
}

.cont_nombre {
    background-color: #6b9ac4;
    padding:  5px;
    padding-left: 10px;
    color: white;
    border-radius: 5px;
    margin: 5%;
}

.link_adoptar {
    text-decoration: none;
    color: black;
}

.link_adoptar:hover {
    color: black;
}

.cont_cards_datos {
    background-color: #6b9ac4;
    border-radius: 5px;
    display: grid;
    margin: 3%;
    margin-top: -2%;
    grid-template-columns: 1fr 1fr;
}

.cont_card {
    background-color: whitesmoke;
    margin: 3%;
    border-radius: 5px;
    height: 20vh;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
}

.cont_card td {
    padding-left: 20px;
}

h3 {
    background-color: lightgreen;
    font-size: 1.5em;
    padding-left: 2%;
}

#card_general {
    
}

#card_salud {

}

#personalidad {

}

#historia {

}


.cont_refugio {
    background-color: aliceblue;
}

.pest_refugio {
    margin-top: 5%;
    background-color: #eef1bd;
    margin-left: 5%;
    text-align: center;
    border-radius: 5% 0% 0% 5%;
    box-shadow: -3px 2px 10px 3px rgba(0, 0, 0, 0.2);
    padding-bottom: 10%;
    height: 92%;
}

.pest_refugio img { /*logo del refugio */
    width: 40%;
    display: block;
    margin: auto;
    padding-top: 15%;
}

.btn_visitar_refugio {
    background-color: white;
    font-weight: bold;
    color: #bbd686;
    margin-left: 35%;
    margin-right: 35%;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.link_visitar_refugio {
    text-decoration: none;
    color: black;
}

.link_visitar_refugio:hover {
    color: black;
}